<section class="edit_profile_page">
	<div class="edit_profile_left_part">
	<div class="top_header">
		<a href="#" class="back_button">voltar</a>
	</div>
		<img class="edit_profile_image">
		<input class="edit_user_photo" name="" type="file"><br><br><br><br><br>
		<div>
			<label class="edit_facebook_field_text">Link para o facebook</label><br>
            <input class="edit_facebook_field_register" type="text" name="user[facebook]" placeholder=" ex: facebook.com/cristina-antunes">
		</div>
		<p class="edit_text">Não sabe como fazer? <a href="#" class = "button_access"><b>Acesse esse link</b></a></p>
		<button class="edit_password_button" type="submit">Alterar a senha</button>

	</div>

	<div class="edit_profile_right_part">
	<p class="mandatory_field"><span id="asterisk">*</span> Campos obrigatórios</p>
	<label>Nome <span id="asterisk">*</span></label><br>
    <input class="edit_name_field_register" type="text" name="user[name]" placeholder="  ex: Cristina Antunes"><br><br>

    <label>Email <span id="asterisk">*</span></label><br>
    <input class="edit_email_field_register" type="email" name="user[email]" placeholder="  ex: email@gmail.com"><br><br>

    <label>Telefone </label><br>
    <input class="edit_phone_field_register" type="text" name="user[phone]" placeholder="  ex: (81)99999-9999"><br><br>

    <label>Biografia</label><br>
    <textarea class="edit_biography" name="bio" cols="86" rows="13" placeholder="ex: Gosto de aprender coisas novas"></textarea><br>

    <div>
	  <button class="edit_cancel_button"><a href="/perfil" class="edit_text_cancel_button"> cancelar </a></button>
	  <button class="accept_button" type="submit">Confirmar Alterações</button><br>
	</div>

	</div>
</section>