<%= @tutorial.name %>
<%= @chapter.id %>
<%= @content.name %>

   <section class="tutorial_">
        <div class="chapter_tutorials">
            <div>
                <a href="#">
                    <p>Whatsapp</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <p>Como abrir o facebook</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <p>Como entrar com sua conta</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <p>Apresentando as publicações</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <p>Como curtir uma publicação</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <p>Como comentar uma publicação</p>
                </a>
            </div>

            <div>
                <a href="#">
                    <p>Como compartilhar uma publicação</p>
                </a>
            </div>

        </div>

        <div class="chapter_description">
            <div class="buttons_top_chapter"><a href="#">Voltar ao perfil</a>
                <a href="#">Fazer uma pergunta</a>
            </div>
            <div class="image_chapter">

            </div>
            <div class="buttons_chapter">
                <input type="submit" class="back-chapter" value="Anterior">
                <input type="submit" class="next-chapter" value="Próximo">
            </div>
        </div>
    </section>