<h1>HomeController#home</h1>
<p>Find me in app/views/home_controller/home.html.erb</p>

<a href="/index/index.html.erb"> Inicio</a>
<a href="/index/how_it_works.html.erb"> Como Funciona</a>
<a href="/index/tutorials.html.erb"> Tutoriais</a>
<a href="/index/contact.html.erb"> Contato</a>
<a href="/index/login.html.erb"> Login</a>
<a href="/index/register.html.erb"> Cadastro</a>