<section class="tutorials">
    <p>Venha conhecer nossos tutoriais e descubra como usar algumas das ferramentas mais utilizadas</p>
    <button class="see-tutorials">Conhecer tutoriais</button>
</section>

<section class="how-funcion">
    <p><b>Como funciona</b></p>
    <div class="image-funcions">
        <img src="img/menu_icon.png">
        <img src="img/menu_icon.png">
        <img src="img/menu_icon.png">
        <img src="img/menu_icon.png">
        <img src="img/menu_icon.png">
        <img src="img/menu_icon.png">
        <img src="img/menu_icon.png">
    </div>
</section>
<hr>



<section class="our-tutorials">
    <p><b>Nossos tutoriais</b></p>



    <div class="image-tutorials">
        <img src="img/wpp_icon.png">
        <img src="img/gp_icon.png">
        <img src="img/fb_icon.png">
        <img src="img/wifi_icon.png">
    </div>
    <div class="name-tutorials">
        <p>Whatsapp</p>
        <p>Instalar Aplicativos</p>
        <p>Facebook</p>
        <p>Conectar Wi-fi</p>
    </div>
</section>
<hr>



<section class="contact">
    <p><b>Entre em contato conosco</b></p>
</section>
<hr>