<section class="tutorials">
    <div class="message">
        <div class="text">
        <p>Venha conhecer nossos tutoriais e descubra como usar algumas das ferramentas mais utilizadas</p>
        </div>
    </div>
    
    
    <div>
        <div class="button-tutorials">
        <button class="see-tutorials">Conhecer tutoriais</button>
        </div>
    </div>
    
    <div id="div-down">
        <%= image_tag("down-arrows.svg", :alt => "logo-arrow", :class => "down-arrows") %></a>
        <p>Entenda como funciona</p>
    </div>
</section>




<section class="how-funcion">
    <p id="title"><b>Como funciona</b></p>
    
    <div>
        <div id="column">IMAGEM</div>
        <div id="arrow-left"><%= image_tag("left-arrow.svg", :alt => "left-arrow", :class => "arrows") %></a></div>
        <div id="column">IMAGEM</div>
        <div id="arrow-left"><%= image_tag("left-arrow.svg", :alt => "left-arrow", :class => "arrows") %></div>
        <div id="column">IMAGEM</div>
    </div>
    
</section>






<section class="our-tutorials">
    <p id="title"><b>Nossos tutoriais</b></p>
    
    <div class="image-tutorials">
        
        
        <div><a href="#">
        <img src="img/wpp_icon.png">
        <p>Whatsapp</p>
        </a>
        </div>
        
        <div><a href="#">
        <img src="img/gp_icon.png">
        <p>Aplicativos</p>
        </a>
        </div>
        
        <div><a href="#">
        <img src="img/fb_icon.png">
        <p>Facebook</p>
        </a>
        </div>
        
        <div><a href="#">
        <img src="img/wifi_icon.png">
        <p>Wi-fi</p>
        </a>
        </div>
    </div>
    
    <div id="see-more">
        <a>Veja mais</a>
        <%= image_tag("see-more-triangle.svg", :alt => "left-arrow", :class => "arrows") %>
    </div>

    
</section>


<hr>



<section class="contact">
    <div id="text">
        <p id="title"><b>Entre em<br> contato conosco</b></p>
        <p>Tem alguma dúvida?<br>Deseja algum curso?</p>
    </div>
    
    <div id="form">
        <form id="formulario" autocomplete="off">
            <label>Nome</label>
            <br>
            <input class="campo_nome" type="text" placeholder="  Digite seu nome"><br>
            <label>Email</label>
            <br>
            <input class="campo_email" type="email" placeholder="  Digite seu email">
            <br>
            <label>Descrição</label>
            <br>
            <textarea class="descricao" cols="35" rows="8" placeholder=" Digite seu problema"></textarea><br>
            <input class="btn_submit" type="submit" value="Enviar">
        </form>
        <!--Aqui vai ficar o form-->
    </div>
</section>