<section class="login">
  
<div id="login">    
  <div class="div-up">
    <div class="login_accout">
      
              <form id="form_login" method="POST" action="/login">
                  <label for="name_user">Email</label>
                  <input type="text" id="name_user" name="email" placeholder="  Digite seu Email">
                  <label for="password_user">Senha</label>
                  <input type="password" id="password_user" name="password" placeholder="  Digite sua senha">

                  <a href="#">Esqueci minha senha</a>
                  <input class="btn_send" type="submit" value="acessar minha conta">
                  
              </form>
              <% flash[:error] %>
    </div>
    
    
    <div class="api-login">
      <div clas="api">
        <p>Google</p>
        <p>Facebook</p>
      </div>
    </div>
    
    
  </div>
  

  
  <div class="div-down">
    <p>Não tem uma conta? <a href="#"><b>Faça seu cadastro</b></a></p>
  </div>


</div>  
</section>




