=begin

<%= form_tag '/login' do %>

  Email: <%= text_field_tag :email %>
  Password: <%= password_field_tag :password %>
  <%= submit_tag "Submit" %>

<% end %>

=end



<section class="login">
    <div>
    <div class="register">
        
            <form id="form" autocomplete="off">
                <label>Nome</label>
                <br>
                <input class="field_name" type="text" placeholder="  Digite seu nome"><br>
                <label>Senha</label>
                <br>
                <input class="field_email" type="password" placeholder="  Digite seu email">
            </form>
        
    </div>
    <div class="api-login">
        
    </div>
    </div>
    
    <div class="text"></div>
    
</section>




