// Place all the styles related to the Tutorials controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tutorials-bg {
  width: 90%;
  margin: 50px auto;
}

.tutorials-list {
  margin: 50px auto;
  width: 95%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-tutorial {
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__input {
    padding-left: 10px;
    min-width: 200px;
    width: calc(90% - 20px);
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #EBEBEB;
  }

  &__submit {
    height: 40px;
    width: calc(10% - 20px);
    min-width: 75px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    color: white;
    background-color: #048CB4;
  }
}

.tutorials {
  margin: 40px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  a {
    text-decoration: none;
  }

  &__tutorial {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 200px;
      height: 200px;
      box-shadow: 0 3px 20px rgba(0,0,0, 0.15);
      border-radius: 200px;
    }

    figcaption {
      margin-top: 5px;
      font-weight: thin;
      font-size: 15pt;
      color: black;
    }
  }
}

.pagination {
  em {
    font-style: normal;
  }

  a, a:link, a:visited {
    color: black;
    text-decoration: none;
  }

  .current {
    color: #FD8F26;
    font-weight: bold;
  }
}


/*Course not found*/

/*button search voice*/

#search-tutorial__voice{
    margin-left: 5px;
    margin-right: 5px;
    height: 40px;
    min-width: 26px;
    border: none;
    background-color: white;
    background-image: image-url('icon_voice');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 6px;

}
#search-tutorial__input{
    padding-left: 10px;
    padding-top: 13px;
    height: 34px;
    width: 79%;
    background-color: #EBEBEB;
    border-radius: 5px;
    border: none;
}

.course-not-found{
    background-image: image-url('tutorials_left.svg'), image-url('tutorials_right.svg');
    background-repeat: no-repeat;
    background-position-x: 0%, 101%;
    background-position-y: 46px, -13px;
    background-size: contain;
}

.box-text_box_and_button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-text-tutorials h1{
  margin-left: 48px;
}

.box-text-tutorials a{
  text-decoration: none;
  color: black;
}

.box-text-tutorials a:hover{ 
  color: #FD8F26;
}