html{
	height: 100%;
}

body{
	height: 100%;
	font-family: Open Sans;
}

.edit_profile_page{
	display: flex;
	height: 100%;
}

.edit_profile_left_part{
	width: 40%;
	height: 100%;
}

.profile_left_part img{
	background-color: #dddddd;
}
.edit_profile_image{
	height: 170px;
	width: 170px;
	border-radius: 100px;
	margin-left: 30%;
	margin-top: 40px;
	background-color: #dddddd;
}

.top_header{
	display: flex;
	flex-direction: row;
}

.back_button{
	font-size: 20px;
	margin-left: 20px;
	text-decoration: none;
	color: black;
}

.edit_user_photo{
	margin-left: 17%;
	margin-top: 20px;
}

.edit_facebook_field_register{
    font-family: Open Sans;
    font-color: #9C9C9C;
    height: 40px;
    width: 75%;
    border-radius: 7px;
    border: none;
    background-color: #EBEBEB;
    margin-left: 15%;
}

.edit_facebook_field_text{
	font-family: Open Sans;
	margin-left: 15%;
}

.edit_text{
	font-family: Open Sans;
	font-size: 14px;
	margin-left: 27%;
}

.button_access{
	text-decoration: none;
	color: black;
}

.edit_password_button{
    padding: 5px 30px;
    font-size: 20px;
    margin-left: 32%;
    background-color: #048CB4;
    border: none;
    border-radius: 7px;
    color: white;
    margin-top: 14%;
}

.edit_profile_right_part{
	height: 100%;
	width: 60%;

}

.edit_name_field_register{
    font-family: Open Sans;
    font-color: #9C9C9C;
    height: 40px;
    width: 75%;
    border-radius: 7px;
    border: none;
    background-color: #EBEBEB;
}

#asterisk{
    color: red;
}

.mandatory_field{
	margin-top: 5%;
}

.edit_email_field_register{
    font-family: Open Sans;
    font-color: #9C9C9C;
    height: 40px;
    width: 75%;
    border-radius: 7px;
    border: none;
    background-color: #EBEBEB;
}

.edit_phone_field_register{
    font-family: Open Sans;
    font-color: #9C9C9C;
    height: 40px;
    width: 75%;
    border-radius: 7px;
    border: none;
    background-color: #EBEBEB;
}

.edit_biography{
    font-family: Open Sans;
    border-radius: 7px;
    border: none;
    font-color: #9C9C9C;
    background-color: #EBEBEB;
    margin-top: 2%;
}

.edit_cancel_button{
	text-decoration: none;
    font-size: 20px;
    margin-top: 5.5%;
    margin-left: 10%;
    padding: 5px 25px;
    background-color: #767676;
    border-radius: 7px;
    border: none;
    color: white;
}

.edit_text_cancel_button{
	text-decoration: none;
	color: white;

}

.accept_button{
    padding: 5px 30px;
    font-size: 20px;
    margin-left: 5%;
    background-color: #048CB4;
    border: none;
    border-radius: 7px;
    color: white;

}